import { cn } from '@viome/ui/utils/cn';

export interface <%= upperFirstName %>Props 
  extends React.HTMLAttributes<HTMLDivElement> {}

export const <%= upperFirstName %> = ({ className, children }: <%= upperFirstName %>Props) => {
  return (
    <div className={cn('', className)}>
      {children}
    </div>
  );
};


